body{
    background-color: rgb(207, 206, 206);
    font-family: 'Times New Roman', Times, serif;
    margin:0px;
    padding:40px 30px;
} 

.border{
    background-color: rgb(202, 15, 15);
    width:800px;
    justify-self:center;
    height:600px;
    border-radius: 30px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom:50px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.container{
    margin-top:40px;
    background-color: rgb(213, 213, 213);
    width: 500px;
    height: 450px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.name{
    font-family:cursive;
    font-size:36px;
    margin-bottom:0px;
    color:rgb(212, 181, 1);
}

.row{
    display: flex;
    flex:1;
}

.col {
    flex: 1;
    width:100%;
}

.setting{
    margin:30px 100px 0px 100px;
    width:100%;
    display:flex;
    justify-content:space-around;

}

button{
    border:none;
    border-radius: 100px;
    padding:10px;
    width:80px;
    background-color:rgb(234, 234, 234);
    color:rgb(0, 0, 0);
}

.sizebox{
    width:60px;
    border:none;
    background-color:rgb(233, 233, 233);
    border-radius: 4px;
    color:black;
    padding: 10px;
;
}

.submit{
    border:none;
    border-radius: 4px;
    padding:10px;
}



